/* Global Settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
body{
    /* background: url('img/login-back.jpg'); */
    background: url("../img/generic-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header - NAVBAR and Logo*/
header{
    background: #b51919;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
nav{
    min-width: 70%;
    margin: 0 auto;
}
header li{
    display: inline-block;
    padding: 0 15px;
}
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    color: #e4e5eb;
}
.forms{
    min-width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 54px;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 4px gray;
}
.forms h2{
    font-size: 40px;
    margin: 20px;
}
input{
    padding: 10px;
    margin: 5px 0; /* should be like this to be aligned properly */
    width: 50%;
    border: 1px gray solid;
    border-radius: 5px;
}
input:focus{
    border: 2px solid blue;
}
input[type="submit"]{
    padding: 10px 20px;
    border: 0;
    width: 150px;
    color: white;
    background-color: #b51919;
    transition: .3s ease;
    border-radius: 5px;
}
input[type="submit"]:hover, #add-site:hover, .ind-site input[type="submit"]:hover{
    background-color: #911414;
}
#login-extra{
    padding: 5px;
    margin-top: 15px;
}
#login-extra hr{
    margin: 25px auto;
    width: 80%;
    color: #efefef;
    text-align: center;
}
.reg-error{
    margin: 0 auto; /*To center the div inside the parent div*/
    width: 250px;
    color: white;
    border-radius: 5px;
    background-color: #cf2323;
}
#add-site{
    padding: 2px 5px;
    border: 0;
    width: 60px;
    color: white;
    background-color: #b51919;
    font-size: 24px;
    transition: .3s ease;
    border-radius: 25px;
    float: right;
}
.replace h3, .top h1{
    font-size: 24px;
}
.top{
    margin: 0 auto;
    margin-top: 54px;
    min-width: 70%;
    padding: 10px 10px;
}
.top h1{
    float: left;
    color: white;
}
.replace h5{
    font-size: 16px;
}
.replace{
    text-align: center;
    color: #bbbbbb;
}
footer{
    background: #b51919;
    padding: 15px 0;
    text-align: center;
    color: white;
}

.ind-site{
    display: block;
    background-color: #eeeeee;
    color: gray;
    box-shadow: 0 3px 4px #3b3b3b;
    border-radius: 5px;
    margin: 15px auto;
    min-width: 50%;
    padding: 15px;
    padding-left: 30px;
}
.ind-site li{
    margin-bottom: 5px;
}
.ind-site li b{
    color: black;
}
.ind-site ul{
    margin: 0;
    padding: 0;
}
.ind-site input[type="submit"]{
    padding: 5px 10px;
    border: 0;
    width: 75px;
    color: white;
    background-color: #b51919;
    transition: .3s ease;
    border-radius: 5px;
}
.ind-site input{
    padding: 3px;
    margin: 3px;
    margin-left: 5px;
    border: 0;
    border-bottom: 1px solid gray;
    border-radius: 0;
    color: inherit;
    background-color: inherit;
}
.ind-site form{
    text-align: right;
    display: block;
    margin-right: 30%;
}
#del-btn{
    margin-top: 5px;
}
@media screen and (min-width: 480px){
    header{
        text-align: left;
    }
    .forms, .top, nav, .ind-site{
        width: 50%;
    }
}